@model RSGymPT.ClientManagement.Models.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h2>Detalhes do Cliente</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fidelizado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fidelizado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInscricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInscricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMensalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorMensalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServicosUtilizados)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServicosUtilizados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
